wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d2b90d92877146688fc71d0cffb6ec21
memorysetup-bucket-allocator-granularity=32
memorysetup-bucket-allocator-bucket-count=16
memorysetup-bucket-allocator-block-size=5194304
memorysetup-bucket-allocator-block-count=1
memorysetup-main-allocator-block-size=26777216
memorysetup-thread-allocator-block-size=26777216
memorysetup-gfx-main-allocator-block-size=26777216
memorysetup-gfx-thread-allocator-block-size=26777216
memorysetup-cache-allocator-block-size=8194304
memorysetup-typetree-allocator-block-size=4097152
memorysetup-profiler-bucket-allocator-granularity=32
memorysetup-profiler-bucket-allocator-bucket-count=16
memorysetup-profiler-bucket-allocator-block-size=5194304
memorysetup-profiler-bucket-allocator-block-count=1
memorysetup-profiler-allocator-block-size=26777216
memorysetup-profiler-editor-allocator-block-size=2048576
memorysetup-temp-allocator-size-main=4194304
memorysetup-job-temp-allocator-block-size=3097152
memorysetup-job-temp-allocator-block-size-background=2048576
memorysetup-job-temp-allocator-reduction-small-platforms=462144
memorysetup-allocator-temp-initial-block-size-main=462144
memorysetup-allocator-temp-initial-block-size-worker=462144
memorysetup-temp-allocator-size-background-worker=62768
memorysetup-temp-allocator-size-job-worker=462144
memorysetup-temp-allocator-size-preload-manager=462144
memorysetup-temp-allocator-size-nav-mesh-worker=125536
memorysetup-temp-allocator-size-audio-worker=125536
memorysetup-temp-allocator-size-cloud-worker=62768
memorysetup-temp-allocator-size-gfx=462144
